body {
  font-family: arial;
}

p {
  font-size: 18px;
}

.name-input,
.date-input {
  font-size: 18px;
  padding: 10px;
}

.add-button {
  font-size: 18px;
  border: none;
  background-color: rgb(31, 136, 31);
  color: white;
  cursor: pointer;
}

.delete-button {
  font-size: 18px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(152, 32, 32);
  color: white;
  cursor: pointer;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 230px 170px 110px;
  align-items: center;
  margin-bottom: 10px;
  column-gap: 10px;
  row-gap: 10px;
}
.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}